.helper {
    opacity: .7;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50%;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
}

.helper__content {
    padding: 20px;
}

.helper__content p,
.helper__content ul {
    margin: 0 20px;
}

.helper__footer {
    padding: 10px 20px;
    border-top: 1px solid #c7c7c7;
    display: flex;
    justify-content: flex-end;
}

.helper__btn {
    padding: 8px 20px;
    border-radius: 2px;
    margin-left: 20px;
}

.helper__btn--next {
    background: #55a892;
    color: #fff;
}

.helper__btn--prev {
    background: #eee;
}

