.helper {
    position: fixed;
    width: 400px;
    top: 20px;
    right: 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .3);
}


.helper__container {
    padding: 20px;
}

.helper__content {
    margin-bottom: 20px;
}

.helper__content p,
.helper__content ul {
    margin: 0 20px;
}

.helper__footer {
    display: flex;
    justify-content: flex-end;

    &--hidden {
        display: none;
    }
}

.helper__btn {
    padding: 8px 20px;
    border-radius: 2px;
    margin-left: 20px;
}

.helper__btn--next {
    background: #55a892;
    color: #fff;
}

.helper__btn--prev {
    background: #eee;
}

