.helper
    article.helper__container
        header.helper__header
            h3.helper__title Загловок подсказки
        .helper__content
        footer.helper__footer
            button.helper__btn.helper__btn--prev Prev
            button.helper__btn.helper__btn--next Next
