mixin board-grid(countX, countY)
    .board-grid
        - for (var y = 0; y < countX; y++)
            .board-grid__row
                - var currentCounterX = 0
                while currentCounterX < (countX + 1)
                    .board-grid__coll(data-y=y data-x=currentCounterX)
                    - currentCounterX++
