.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__title {
        flex-basis: 100%;
    }

}

.clear-board-btn {
    flex-basis: 100%;
    margin-bottom: 1em;
    cursor: pointer;

    height: 40px;
    color: #fff;
    border-radius: 4px;
    background: #E08283;
    border: 1px solid #96281B;
}

