section.cards
    h2.cards__title Cards

    .card(draggable="true" id="card-1x1")
        button.card__remove-btn
    .card.card_size_1x2(draggable="true" id="card-1x2")
        button.card__remove-btn
    .card.card_size_1x3(draggable="true" id="card-1x3")
        button.card__remove-btn
    .card.card_size_4x1(draggable="true" id="card-4x1")
        button.card__remove-btn
    .card.card_size_2x2(draggable="true" id="card-2x2")
        button.card__remove-btn
