section.cards
    h2.cards__title Cards

    .cards__item(draggable="true")
    .cards__item.cards__item_size_1x2(draggable="true")
    .cards__item.cards__item_size_1x3(draggable="true")
    .cards__item.cards__item_size_4x1(draggable="true")
    .cards__item.cards__item_size_2x2(draggable="true")

