include ../card/tpl.pug

section.cards
    h2.cards__title Cards

    button.btn.btn--save-board Сохранить

    // TODO переименовать второй класс сделать модом
    button.btn.clear-board-btn Очистить доску

