include ../card/tpl.pug

section.cards
    h2.cards__title Cards

    button.btn.btn--save-board Сохранить

    // TODO переименовать второй класс сделать модом
    button.btn.clear-board-btn Очистить доску

    +card(1, 1)
    +card(2, 1)
    +card(3, 1)
    +card(1, 4)
    +card(2, 2)
