.board-types
    label.board-types__item.board-types__item--square
        input.board-types__input(type="radio" name="board-type" value="square")
    label.board-types__item.board-types__item--rectangle
        input.board-types__input(type="radio" name="board-type" value="rectangle")
