extends ../layouts/layout.pug

block content

    section.wrapper
        section.sidebar
            include ../components/cards/tpl.pug
        main.main
            include ../components/board/tpl.pug
