extends ../layouts/layout.pug

block content

    section.wrapper
        aside.sidebar
            button.btn.btn--save-board Заказать
            // TODO переименовать второй класс сделать модом
            button.btn.clear-board-btn Очистить доску

            include ../components/board-settings/tpl.pug

            include ../components/cards/tpl.pug
        main.main
            include ../components/board/tpl.pug
