extends ../layouts/layout.pug

block content

    section.wrapper
        aside.sidebar
            include ../components/board-settings/tpl.pug

            include ../components/cards/tpl.pug
        main.main
            include ../components/board/tpl.pug
