.board-settings
    section.board-settings__types
        label.board-settings__type.board-settings__type--square
            input.board-settings__type-input(type="radio" name="board-type" value="square")
        label.board-settings__type.board-settings__type--rectangle
            input.board-settings__type-input(type="radio" name="board-type" value="rectangle")
