mixin board__grid(countX, countY, type)
    div(class="board__grid board__grid--" + type)
        - for (var y = 0; y < countY; y++)
            .board__grid-row
                - var currentCounterX = 0
                while currentCounterX < countX
                    .board__grid-coll(data-y=y data-x=currentCounterX)
                    - currentCounterX++

