@import "./styles/lib/sanitiz.less";

@base-padding: 20px;
@bd-color: #D2D7D3;
@card-size: 20px;
@small-card-size: 50px;
// Pages
@import "./pages/index.less";

// Components
@import "./components/board/style.less";
@import "./components/board/board__grid/style.less";
@import "./components/card/style.less";
@import "./components/cards/style.less";
@import "./components/board-settings/style.less";

@import "./components/helper/style.less";

html, body {
    height: 100%;
}

.btn {
    &--save-board {
        background: #00B16A;
        border: 1px solid #1E824C;
        flex-basis: 100%;
        margin-bottom: 1em;
        cursor: pointer;
        height: 40px;
        color: #fff;
        border-radius: 4px;
        width: 100%;
    }
}

.clear-board-btn {
    flex-basis: 100%;
    margin-bottom: 1em;
    cursor: pointer;

    height: 40px;
    color: #fff;
    border-radius: 4px;
    background: #E08283;
    border: 1px solid #96281B;
    width: 100%;
}

@keyframes lighting {
    from {
        transform: scale(.95, .95);
    }
    to {
        transform: scale(1.05, 1.05);
    }
}

// Для помомшника (переименовать)
.lighting-node {
    animation: lighting .5s infinite alternate;

    &:hover {
        animation: none;
    }
}
