include ../../components/board-grid/tpl.pug

.bizibord
    section.bizibord__sidebar
        include ../../components/cards/tpl.pug
    section.bizibord__board
        include ../../components/board/tpl.pug
        +board-grid(10, 10)
